/* inicio sesion*/

#inicioDeSesion {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #b11010;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #0c0707;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(121, 11, 11, 0.2);
    text-align: center;
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #750404;
    border-radius: 3px;
}

button {
    background-color: #b11010;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/*Botón de cierre de sesión */
#logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
}

/*banner y el footer */
header, footer {
    background: linear-gradient(to bottom, red, black);
    color: white;
    text-align: center;
    font-family: 'Black Ops One', cursive;
}

#banner img{
    width: 13%;
    height: 13%;
}

footer {
    color: black;
    text-align: center;
    padding: 10px;
}

.redes-sociales {
    margin-bottom: 10px;
}

.icono-social {
    display: inline-block;
    margin: 0 10px;
}

.icono-social img {
    width: 30px; 
    height: 30px; 
}

#contact-info {
    text-align: center;
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

#rights {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/*body*/

.carousel{
    width: 60%; 
    height: 60%; 
    margin-left: 22%;
}

body {
    font-family: 'Black Ops One', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    padding: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 50%;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.realize-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

#score-container {
    font-weight: bold; 
    background: linear-gradient(to bottom, black, red);
}

#score-container p {
    margin-left: 45%;
    color: #fff;
    font-size: 180%;
}


/*animación de confites*/
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    background: transparent;
}

.confetti {
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: absolute;
    will-change: transform;
    animation: fall 2s ease-in-out infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(720deg);
        opacity: 0;
    }
}
